<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435741062632-b1dghaoih0iiqfpn3cs7nr9ksqg0g42m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435741062632-b1dghaoih0iiqfpn3cs7nr9ksqg0g42m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435741062632-b5klt5grubqg3ggl6ekv4vbg6p5ihorp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBv4fvDDLydJKzaNgfCyav_Xk7O59eahR4</string>
	<key>GCM_SENDER_ID</key>
	<string>435741062632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymanu.event</string>
	<key>PROJECT_ID</key>
	<string>event-app-5d176</string>
	<key>STORAGE_BUCKET</key>
	<string>event-app-5d176.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435741062632:ios:148328dd66002b8197a05d</string>
</dict>
</plist>