// app global css in SCSS form
@font-face {
  font-family: "Clash Display";
  src: url(/ClashDisplay-Medium.ttf);
}
* {
  font-family: Clash Display;
}
.avatar {
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin-left: -20px;
  border-radius: 50%;
  position: relative;
  background-color: #2c303a;
  border: 2px solid white;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.avatar-group {
  display: flex;
}

.hidden-avatars {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 23px;
  background-color: #2253cf;
  color: #fff;
  margin-left: -20px;
  z-index: 1;
}
